@import"color_variable";
@import"fonts";

.banner-section{
    background-color: $theme_blue_dark;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}
.banner-wrapper {
    padding-top: 152px;
    padding-bottom: 90px;
  }
  .banner-content{
    h1{
        font-size: 3.75rem;
        margin-bottom: 20px;
        .theme-color{
            color: $theme_color;
        }
    }
    p{
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 30px;
        max-width: 500px;
        font-family: $font_family_menu;
    }
    .banner-btn{
        gap: 15px;
        .default-btn{
            position: relative;
            display: inline-block;
            overflow: hidden;
            text-decoration: none;
            color:$theme_black;
            padding: 0 1.7rem;
            line-height: 40px;
            border-radius: 99px;
            font-size: 1rem;
            transform-origin: right;
            transition: all .3s ease;
            background: $theme_color;
            font-weight: bold;
            overflow: hidden;
            &:last-child{
                background-color: transparent;
                border: 2px solid$theme_white;
                color: $theme_white;
            }
            &:hover{

                transform: translateY(-3px); 
            }

            &.move-top{
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                 
                    transition: transform .5s;
                    transform-origin: top;
                    transform: scaleY(0);
                    z-index: 0;
                }
                &:hover{
                    &::before{
                        transform: scaleY(1);
                        transform-origin: bottom;
                        transition: transform .5s;
                        z-index: -1;
                        
                    }
                }
                
            }
            &.move-right{
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    transition: transform .5s;
                    transform-origin: top;
                    transform: scaleX(0);
                    z-index: 0;
                }
                &:hover{
                    color: #030010;
                    &::before{
                        transform: scaleX(1);
                        transform-origin: left;
                        transition: transform .5s;
                        z-index: -1;
                        
                    }
                }
                
            }
           
            
        }
      
      
    }
   
  }

 