// color variable
$theme_black: #000;
$dakr_border_header: #ffffff1a;
$theme_white: #fff;
$theme_color: #f3a735;
$theme_blue_dark:#030010;
$dropDownMenu:#030010;
$search_focus:rgba(81,56,238,.4);
$theme_blue: #5138ee;
$banner_border:linear-gradient(125deg, #FFE53B 0%, #FF2525 37%, #fd00ff 100%);
