// color variable
$theme_black: #000;
$dakr_border_header: #ffffff1a;
$theme_white: #fff;
$theme_color: #f3a735;

//bootsrap setting remove
dl,
ol,
ul,
a,
p {
    margin: 0;
    padding: 0;
}

@import"fonts";


html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: $theme_white;
    box-sizing: border-box;

}

a {
    color: $theme_white;
    transition: all .3s ease;
}

//default setting
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $theme_white;
}

.main-body {
    background-color: $theme_black;
}



.header {
    box-shadow: 0 0 10px rgba(3, 0, 16, .2);
    border-bottom: 1px solid $dakr_border_header;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 70px;
    background-color: transparent;
    z-index: 101;

    .header_content {
        padding-inline: 5%;
        height: 100%;

    }
}

.header__logo {
    display: block;
    // padding-right: 1.5rem;
    // margin-right: 1.5rem;
    border-right: 1px solid $dakr_border_header;
    height: 100%;
    max-width: 100%;

    .logo_link {
        padding-right: 10px;

        img {
            overflow: hidden;
        }

    }
}

.header_top__search {
    position: relative;
    left: 0;
    top: -71px;
    height: 70px;
    background-color: #040b29;
    z-index: 1;
    padding: 0 15px;
    transition: top 0.5s ease;
    border-radius: 5px;
    width: 0;
    transition: all .4s ease;
    

    input[type="text"] {   
        width: calc(100% - 30px);
        height: 40px;
        background-color: transparent;
        color: #fff;
        font-size: 14px;
        border-radius: 99px;
        border: none;
        padding: 0 45px 0 20px;
        font-weight: 400;
        border: 1px solid rgba(255, 255, 255, .1);
        outline: none; 

        &::placeholder {
            color: $theme_white;
        }

    }

    button {
        position: absolute;
        content: "";
        right: 30px;
        top: 15px;
        height: 40px;
        width: 70px;
        background-color: transparent;
        color: $theme_white;
        border: none;
        outline: none;
        &:hover {
            color: $theme_color;
        }
       
    }
    button.close{
        right: 50px;
    }

}

.header_top_search_active{
    top:auto; 
    width: 100%;
}
.header_menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    background-color: #040b29;
    z-index: 99;
    width: 280px;
    padding: 25px 25px 0;
    transform: translate3d(281px, 0, 0);
    transition: transform .5s ease;
    border-left: 1px solid rgba(255, 255, 255, .1);
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .header_menu_item {
            margin-left: 40px;
            list-style: none;

            &:last-child {
                .header_menu-link {

                    &::after,
                    &::before {
                        display: none;
                    }

                    &:hover svg {
                        fill: $theme_color;
                    }

                }

            }

            .header_menu-link {
                font-family: $font_family_menu;
                font-size: 18px;
                color: $theme_white;
                font-weight: 500;
                text-decoration: none;
                position: relative;
                z-index: 99;

                &::before {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 2px;
                    background: $theme_white;
                    bottom: -5px;
                    transition: all .3s ease;

                }

                &:hover {

                    // width: 100%;
                    &::before {
                        width: 100%;

                    }
                }

                &[data-bs-toggle="dropdown_submenu"] {
                    &::after {
                        position: absolute;
                        content: "\ea99";
                        font-family: "icoFont";
                        transform: translateY(-50%);
                        top: 60%;
                        right: -18px;

                    }

                    &:hover {
                        &::after {
                            transform: translateY(-60%) rotate(180deg);
                            position: absolute;
                            transition: all .3s ease;

                        }
                    }




                }

                svg {
                    fill: $theme_white;
                    width: 1.7rem;
                }



            }

            .sub_menu{
                position:absolute;
                inset: -20px auto auto 0px;
                margin: 0px;
                transform: translate(40px, 56px);
                background-color: #030010;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 5px;
                padding: 10px 20px;
                width: 200px;
                list-style: none;
                transition: opacity 0.5s ease;
                opacity: 0;
                z-index: 9999;
                li{
                    position: relative;
                    padding-block: 5px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    &:nth-last-child(1){
                        border-bottom: none;


                    }
                    .sub_menu_link{
                        text-decoration: none;
                        &::before{
                            transition: all 0.3s ease;

                        }
                      
                        .active, &:hover{

                            &::before{
                                position: absolute;
                                content: "\eab8";
                                font-family: "icoFont";
                                transition: all 0.4s ease;
                                left: -15px;
                                transform: translateY(-50%);
                                top: 50%;
                            }

                            color: $theme_color;
                            transform: translateX(5px);
                        }

                    }
                    
                }
               
            }
            .show{
                opacity: 1;
            }
        
        }
    }
}

.header_menu_active {
    transform: translate3d(0px, 0px, 0px)
}


.header_actions {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: end;
    width: auto;
    height: 100%;

    .header__action_search {
        .header__action-btn {
            display: none;
            background: transparent;
            color: $theme_white;
        }
    }

    .header_profile {
        padding-inline: 1.5rem;
        border-right: 1px solid $dakr_border_header ;
        border-left: 1px solid $dakr_border_header ;
        display: inline-flex;
        align-items: center;
        height: 100%;

        .header_p_link {
            display: inline-flex;
            text-decoration: none;

            &:hover {
                color: $theme_color;
            }

            span {
                &:nth-child(1) {
                    background-color: $theme_color;
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 5px;

                    i {
                        color: $theme_black;
                        font-size: 14px;
                    }
                }

            }
        }

    }

    .walletBtn {
        padding-left: 1.5rem;

        .wallet_link {
            display: inline-flex;
            text-decoration: none;

            &:hover {
                color: $theme_color;
            }

            span {
                &:nth-child(1) {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: $theme_color;
                    font-size: 1.7rem;
                    margin-right: 5px;
                }
            }


        }
    }

    .responsive_toggle {
        position: relative;
        display: none;
        width: 25px;
        height: 20px;
        background: none;
        border: none;
        appearance: none;
        cursor: pointer;
        margin-right: 1%;

        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
            border-radius: 4px;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 9;
            }
            &:nth-child(3){
                bottom: 0;
            }
            
        }
    }


}





// responsive header menu 


@media(max-width: 320px) {
    .header_content {
        padding-inline: 0;
        height: 100%;
        width: 100%;

    }

    .header__logo {
        height: 100%;
        width: auto;

        .logo_link {
            padding-right: 10px;

            img {
                overflow: hidden;
            }

        }
    }

    .header_top__search {
      position: absolute;
        button.close{
            right: -7px;
        }
    
    }
    
    .header_actions {
        justify-content: end;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;

        .header__action_search {
            .header__action-btn {
                display: inline-flex;
                outline: none;
                border: none;
                align-items: center;
                margin-right: 10px;
                position: relative;
                width: 22px;
                height: 36px;
                padding-inline: 10px;


            }
        }

        .header_profile {
            padding-inline: 0;
            border-right: 1px solid $dakr_border_header ;
            border-left: 1px solid $dakr_border_header ;
            height: 100%;
            display: inline-flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 10px;
            padding-inline: 15px;

            .header_p_link {
                display: inline-flex;
                text-decoration: none;

                &:hover {
                    color: $theme_color;
                }

                span {
                    &:nth-child(1) {

                        i {
                            color: $theme_black;
                            font-size: 14px;

                        }
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                }
            }

        }

        .walletBtn {
            padding-left: .5rem;

            .wallet_link {
                display: inline-flex;
                text-decoration: none;

                &:hover {
                    color: $theme_color;
                }

                span {
                    &:nth-child(1) {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        color: $theme_color;
                        font-size: 1.7rem;
                        margin-right: 16px;
                    }

                    &:nth-child(2) {
                        display: none;
                    }
                }


            }
        }

        .responsive_toggle {
            display: block;
            cursor: pointer;
            span {
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #fff;
                border-radius: 4px;
                transition: all .3s ease;
                &:nth-child(1){
                    top: 0;
                }
                &:nth-child(2){
                    top: 9;
                }
                &:nth-child(3){
                    bottom: 0;
                }
                
            }
         
        }
        #toggle_btn.active{
             span{
                &:nth-child(2){
                    width: 0;
                }
                &:nth-child(1){
                    transform: translatey(9px) rotate(-45deg);
                    background: #5138ee
                }
                &:nth-child(3){
                    transform: translatey(-9px) rotate(45deg);
                    background: #5138ee
                }

            }
        }



    }


}

@media(min-width: 1200px) {

    .header_top__search {
        position: relative;
        background-color: transparent;
        top: auto;
        height: 70px;
        width: 30%;
        button.close{
            right: 50px;
            display: none;
        }
    
    }
    .header_top_search_active{
        position: relative;
        width: 30%;
    }
    .header_menu{
        flex-direction: row;
        align-items: center;
        width: auto;
        padding: 0;
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        background-color: transparent;
        transform: translate3d(0, 0, 0);
        border: none;
        transition: transform 0s ease;
        margin-right:2%;

        .navbar{
            flex-direction: row;
            align-items: center;
            width: auto;    
        
            .header_menu_item {
                margin-left: 40px;
                list-style: none;
    
                &:last-child {
                    .header_menu-link {
    
                        &::after,
                        &::before {
                            display: none;
                        }
    
                        &:hover svg {
                            fill: $theme_color;
                        }
    
                    }
    
                }
    
                .header_menu-link {
                    font-family: $font_family_menu;
                    font-size: 18px;
                    color: $theme_white;
                    font-weight: 500;
                    text-decoration: none;
                    position: relative;
    
                    &::before {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 2px;
                        background: $theme_white;
                        bottom: -5px;
                        transition: all .3s ease;
    
                    }
    
                    &:hover {
    
                        // width: 100%;
                        &::before {
                            width: 100%;
    
                        }
                    }
    
                    &[data-bs-toggle="dropdown_submenu"] {
                        &::after {
                            position: absolute;
                            content: "\ea99";
                            font-family: "icoFont";
                            transform: translateY(-50%);
                            top: 60%;
                            right: -18px;
    
                        }
    
                        &:hover {
                            &::after {
                                transform: translateY(-60%) rotate(180deg);
                                position: absolute;
                                transition: all .3s ease;
    
                            }
                        }
    
    
    
    
                    }
    
                    svg {
                        fill: $theme_white;
                        width: 1.7rem;
                    }
    
                }
            }
        }


}






}

