@import"fonts";
@import"color_variable";




.wallet-section{
    background-color: $theme_black;
    .section-header{
       position: relative;
       background-color: transparent;
       text-align: center;
       display: flex;
       padding-top: 18px;
       h3{
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            background: $theme_black;
            padding-inline: 3.5rem;
            font-size: 1.875rem;
            text-transform: uppercase;
       }
        .header-shape{
            position: absolute;
            width: 100%;
            height: 2px;
            background: rgba(255, 255, 255, 0.20);
            span{
                &::before{
                    position: absolute;
                    content: "";
                    width: 50%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    height: 11px;
                    border-top: 1px solid transparent;
                    border-bottom: 1px solid transparent;
                    border-image: linear-gradient(125deg, #FFE53B 0%, #FF2525 37%, #fd00ff 100%);
                    border-image-slice: 1;
                }
            }
        }
    }
    .wallet-inner{
        padding-top: 60px;
        margin-bottom: -105px;
        .wallet-item{
            background-color: $theme_black;
            border-radius: 10px;
            border: 1px solid rgba(255,255,255,.2);
            transition: all .4s ease;
            padding: 20px;
            text-align: center;
            &:hover{
                border:1px solid$theme_blue;
            }
            .wallet-item-inner{
                .wallet-thumb{
                    margin-bottom: 15px;
                }
                .wallet-content{
                    margin-bottom: 9px;
                    h5{
                        a{
                            transition: all .3s ease;
                            &:hover{
                                color: $theme_blue;
                            }
                        }
                    }
                }
            }

        }
    }
}