.padding-top {
  padding-top: 220px;
}

.padding-bottom {
  padding-top: 220px;
}

dl, ol, ul, a, p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: Barlow;
  src: url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  box-sizing: border-box;
}

a {
  color: #fff;
  transition: all 0.3s ease;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.main-body {
  background-color: #030010;
}

.header {
  position: absolute;
  box-shadow: 0 0 10px rgba(3, 0, 16, 0.2);
  border-bottom: 1px solid #ffffff1a;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 70px;
  background-color: transparent;
  z-index: 101;
}
.header .header_content {
  padding-inline: 5%;
  height: 100%;
}

.header__logo {
  display: inline-flex;
  align-items: center;
  border-right: 1px solid #ffffff1a;
  height: 100%;
  max-width: 100%;
}
.header__logo .logo_link {
  padding-right: 10px;
}
.header__logo .logo_link img {
  overflow: hidden;
}

.header_top__search {
  position: relative;
  left: 0;
  top: -71px;
  height: 70px;
  background-color: #040b29;
  z-index: 1;
  padding: 0 15px;
  transition: top 0.5s ease;
  border-radius: 5px;
  width: 0;
  transition: all 0.4s ease;
  width: 30%;
}
.header_top__search input[type=text] {
  width: calc(100% - 30px);
  height: 40px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  border-radius: 99px;
  border: none;
  padding: 0 45px 0 20px;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
}
.header_top__search input[type=text]::placeholder {
  color: #fff;
}
.header_top__search input[type=text]:focus {
  border: 1px solid rgba(81, 56, 238, 0.4);
}
.header_top__search button {
  position: absolute;
  content: "";
  right: 30px;
  top: 15px;
  height: 40px;
  width: 70px;
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
}
.header_top__search button:hover {
  color: #f3a735;
}
.header_top__search button.close {
  right: 50px;
}

.header_top_search_active {
  top: auto;
  width: 100%;
}

.header_menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  background-color: #040b29;
  z-index: 99;
  width: 280px;
  padding: 25px 25px 0;
  transform: translate3d(281px, 0, 0);
  transition: transform 0.5s ease;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.header_menu .navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.header_menu .navbar .nav-item {
  list-style: none;
  margin-left: 40px;
}
.header_menu .navbar .nav-item:last-child {
  font-size: 18px;
}
.header_menu .navbar .nav-item:last-child .nav-link::before {
  display: none;
}
.header_menu .navbar .nav-item:last-child .nav-link[data-bs-toggle=dropdown]::after {
  display: none;
}
.header_menu .navbar .nav-item:last-child .nav-link:hover {
  color: #f3a735;
}
.header_menu .navbar .nav-item .nav-link {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}
.header_menu .navbar .nav-item .nav-link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: -5px;
  transition: all 0.3s ease;
}
.header_menu .navbar .nav-item .nav-link[data-bs-toggle=dropdown]::after {
  position: absolute;
  content: "\ea99";
  font-family: "icoFont";
  transform: translateY(-50%);
  top: 50%;
  right: -18px;
  transition: all 0.4s ease;
}
.header_menu .navbar .nav-item .nav-link:hover::before {
  width: 100%;
}
.header_menu .navbar .nav-item .nav-link:hover[data-bs-toggle=dropdown]::after {
  transform: translateY(-50%) rotate(-180deg);
}
.header_menu .navbar .nav-item .dropdown-menu {
  background-color: #030010;
  padding: 10px 20px;
  border-radius: 5px;
  transform: translate(0px, 13px);
}
.header_menu .navbar .nav-item .dropdown-menu li {
  border-bottom: 1px solid #ffffff1a;
  position: relative;
  padding-block: 5px;
}
.header_menu .navbar .nav-item .dropdown-menu li:nth-last-child(1) {
  border-bottom: none;
}
.header_menu .navbar .nav-item .dropdown-menu li .dropdown-item {
  color: #fff;
  padding: 0;
  width: 200px;
}
.header_menu .navbar .nav-item .dropdown-menu li .dropdown-item .new-theme {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  background-color: #5138ee;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.header_menu .navbar .nav-item .dropdown-menu li .dropdown-item.active, .header_menu .navbar .nav-item .dropdown-menu li .dropdown-item:hover {
  background-color: transparent;
  color: #f3a735;
}
.header_menu .navbar .nav-item .dropdown-menu li .dropdown-item.active::before, .header_menu .navbar .nav-item .dropdown-menu li .dropdown-item:hover::before {
  position: absolute;
  content: "\eab8";
  font-family: "icoFont";
  transform: translateY(-50%);
  top: 50%;
  right: -18px;
  transition: all 0.4s ease;
  left: -15px;
}

.header_menu_active {
  transform: translate3d(0px, 0px, 0px);
}

.header_actions {
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: end;
  width: auto;
  height: 100%;
}
.header_actions .header__action_search .header__action-btn {
  display: none;
  background: transparent;
  color: #fff;
}
.header_actions .header_profile {
  padding-inline: 1.5rem;
  border-right: 1px solid #ffffff1a;
  border-left: 1px solid #ffffff1a;
  display: inline-flex;
  align-items: center;
  height: 100%;
}
.header_actions .header_profile .header_p_link {
  display: inline-flex;
  text-decoration: none;
}
.header_actions .header_profile .header_p_link:hover {
  color: #f3a735;
}
.header_actions .header_profile .header_p_link span:nth-child(1) {
  background-color: #f3a735;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.header_actions .header_profile .header_p_link span:nth-child(1) i {
  color: #000;
  font-size: 14px;
}
.header_actions .header_profile .dropdown-menu {
  background-color: #1a203c;
}
.header_actions .header_profile .dropdown-menu li {
  transition: all 0.3s ease;
}
.header_actions .header_profile .dropdown-menu li .dropdown-item {
  color: #fff;
}
.header_actions .header_profile .dropdown-menu li .dropdown-item:hover {
  color: #5138ee;
  background-color: transparent;
}
.header_actions .walletBtn {
  padding-left: 1.5rem;
}
.header_actions .walletBtn .wallet_link {
  display: inline-flex;
  text-decoration: none;
}
.header_actions .walletBtn .wallet_link:hover {
  color: #f3a735;
}
.header_actions .walletBtn .wallet_link span:nth-child(1) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #f3a735;
  font-size: 1.7rem;
  margin-right: 5px;
}
.header_actions .responsive_toggle {
  position: relative;
  display: none;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
  margin-right: 1%;
}
.header_actions .responsive_toggle span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}
.header_actions .responsive_toggle span:nth-child(1) {
  top: 0;
}
.header_actions .responsive_toggle span:nth-child(2) {
  top: 9;
}
.header_actions .responsive_toggle span:nth-child(3) {
  bottom: 0;
}

@media (max-width: 320px) {
  .header_content {
    padding-inline: 0;
    height: 100%;
    width: 100%;
  }

  .header__logo {
    height: 100%;
    width: auto;
  }
  .header__logo .logo_link {
    padding-right: 10px;
  }
  .header__logo .logo_link img {
    overflow: hidden;
  }

  .header_top__search {
    position: absolute;
  }
  .header_top__search button.close {
    right: -7px;
  }

  .header_menu .navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header_menu .navbar .nav-item {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .header_actions {
    justify-content: end;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .header_actions .header__action_search .header__action-btn {
    display: inline-flex;
    outline: none;
    border: none;
    align-items: center;
    margin-right: 10px;
    position: relative;
    width: 22px;
    height: 36px;
    padding-inline: 10px;
  }
  .header_actions .header_profile {
    padding-inline: 0;
    border-right: 1px solid #ffffff1a;
    border-left: 1px solid #ffffff1a;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    padding-inline: 15px;
  }
  .header_actions .header_profile .header_p_link {
    display: inline-flex;
    text-decoration: none;
  }
  .header_actions .header_profile .header_p_link:hover {
    color: #f3a735;
  }
  .header_actions .header_profile .header_p_link span:nth-child(1) i {
    color: #000;
    font-size: 14px;
  }
  .header_actions .header_profile .header_p_link span:nth-child(2) {
    display: none;
  }
  .header_actions .walletBtn {
    padding-left: 0.5rem;
  }
  .header_actions .walletBtn .wallet_link {
    display: inline-flex;
    text-decoration: none;
  }
  .header_actions .walletBtn .wallet_link:hover {
    color: #f3a735;
  }
  .header_actions .walletBtn .wallet_link span:nth-child(1) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #f3a735;
    font-size: 1.7rem;
    margin-right: 16px;
  }
  .header_actions .walletBtn .wallet_link span:nth-child(2) {
    display: none;
  }
  .header_actions .responsive_toggle {
    display: block;
    cursor: pointer;
  }
  .header_actions .responsive_toggle span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  .header_actions .responsive_toggle span:nth-child(1) {
    top: 0;
  }
  .header_actions .responsive_toggle span:nth-child(2) {
    top: 9;
  }
  .header_actions .responsive_toggle span:nth-child(3) {
    bottom: 0;
  }
  .header_actions #toggle_btn.active span:nth-child(2) {
    width: 0;
  }
  .header_actions #toggle_btn.active span:nth-child(1) {
    transform: translatey(9px) rotate(-45deg);
    background: #5138ee;
  }
  .header_actions #toggle_btn.active span:nth-child(3) {
    transform: translatey(-9px) rotate(45deg);
    background: #5138ee;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .header_content {
    padding-inline: 0;
    height: 100%;
    width: 100%;
  }

  .header__logo {
    height: 100%;
    width: auto;
  }
  .header__logo .logo_link {
    padding-right: 10px;
  }
  .header__logo .logo_link img {
    overflow: hidden;
  }

  .header_top__search {
    position: absolute;
  }
  .header_top__search button.close {
    right: -7px;
  }

  .header_menu .navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header_menu .navbar .nav-item {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .header_actions {
    justify-content: end;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .header_actions .header__action_search .header__action-btn {
    display: inline-flex;
    outline: none;
    border: none;
    align-items: center;
    margin-right: 10px;
    position: relative;
    width: 22px;
    height: 36px;
    padding-inline: 10px;
  }
  .header_actions .header_profile {
    padding-inline: 0;
    border-right: 1px solid #ffffff1a;
    border-left: 1px solid #ffffff1a;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    padding-inline: 15px;
  }
  .header_actions .header_profile .header_p_link {
    display: inline-flex;
    text-decoration: none;
  }
  .header_actions .header_profile .header_p_link:hover {
    color: #f3a735;
  }
  .header_actions .header_profile .header_p_link span:nth-child(1) i {
    color: #000;
    font-size: 14px;
  }
  .header_actions .header_profile .header_p_link span:nth-child(2) {
    display: none;
  }
  .header_actions .walletBtn {
    padding-left: 0.5rem;
  }
  .header_actions .walletBtn .wallet_link {
    display: inline-flex;
    text-decoration: none;
  }
  .header_actions .walletBtn .wallet_link:hover {
    color: #f3a735;
  }
  .header_actions .walletBtn .wallet_link span:nth-child(1) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #f3a735;
    font-size: 1.7rem;
    margin-right: 16px;
  }
  .header_actions .walletBtn .wallet_link span:nth-child(2) {
    display: none;
  }
  .header_actions .responsive_toggle {
    display: block;
    cursor: pointer;
  }
  .header_actions .responsive_toggle span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  .header_actions .responsive_toggle span:nth-child(1) {
    top: 0;
  }
  .header_actions .responsive_toggle span:nth-child(2) {
    top: 9;
  }
  .header_actions .responsive_toggle span:nth-child(3) {
    bottom: 0;
  }
  .header_actions #toggle_btn.active span:nth-child(2) {
    width: 0;
  }
  .header_actions #toggle_btn.active span:nth-child(1) {
    transform: translatey(9px) rotate(-45deg);
    background: #5138ee;
  }
  .header_actions #toggle_btn.active span:nth-child(3) {
    transform: translatey(-9px) rotate(45deg);
    background: #5138ee;
  }
}
@media (min-width: 576px) and (max-width: 960px) {
  .header_content {
    padding-inline: 0;
    height: 100%;
    width: 100%;
  }

  .header__logo {
    height: 100%;
    width: auto;
  }
  .header__logo .logo_link {
    padding-right: 10px;
  }
  .header__logo .logo_link img {
    overflow: hidden;
  }

  .header_top__search {
    position: absolute;
  }
  .header_top__search button.close {
    right: -7px;
  }

  .header_menu .navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header_menu .navbar .nav-item {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .header_actions {
    justify-content: end;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .header_actions .header__action_search .header__action-btn {
    display: inline-flex;
    outline: none;
    border: none;
    align-items: center;
    margin-right: 10px;
    position: relative;
    width: 22px;
    height: 36px;
    padding-inline: 10px;
  }
  .header_actions .header_profile {
    padding-inline: 0;
    border-right: 1px solid #ffffff1a;
    border-left: 1px solid #ffffff1a;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    padding-inline: 15px;
  }
  .header_actions .header_profile .header_p_link {
    display: inline-flex;
    text-decoration: none;
  }
  .header_actions .header_profile .header_p_link:hover {
    color: #f3a735;
  }
  .header_actions .header_profile .header_p_link span:nth-child(1) i {
    color: #000;
    font-size: 14px;
  }
  .header_actions .header_profile .header_p_link span:nth-child(2) {
    display: none;
  }
  .header_actions .walletBtn {
    padding-left: 0.5rem;
  }
  .header_actions .walletBtn .wallet_link {
    display: inline-flex;
    text-decoration: none;
  }
  .header_actions .walletBtn .wallet_link:hover {
    color: #f3a735;
  }
  .header_actions .walletBtn .wallet_link span:nth-child(1) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #f3a735;
    font-size: 1.7rem;
    margin-right: 16px;
  }
  .header_actions .walletBtn .wallet_link span:nth-child(2) {
    display: none;
  }
  .header_actions .responsive_toggle {
    display: block;
    cursor: pointer;
  }
  .header_actions .responsive_toggle span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  .header_actions .responsive_toggle span:nth-child(1) {
    top: 0;
  }
  .header_actions .responsive_toggle span:nth-child(2) {
    top: 9;
  }
  .header_actions .responsive_toggle span:nth-child(3) {
    bottom: 0;
  }
  .header_actions #toggle_btn.active span:nth-child(2) {
    width: 0;
  }
  .header_actions #toggle_btn.active span:nth-child(1) {
    transform: translatey(9px) rotate(-45deg);
    background: #5138ee;
  }
  .header_actions #toggle_btn.active span:nth-child(3) {
    transform: translatey(-9px) rotate(45deg);
    background: #5138ee;
  }
}
@media (min-width: 960px) and (max-width: 1200px) {
  .header_content {
    padding-inline: 0;
    height: 100%;
    width: 100%;
  }

  .header__logo {
    height: 100%;
    width: 10%;
  }
  .header__logo .logo_link {
    padding-right: 10px;
  }
  .header__logo .logo_link img {
    overflow: hidden;
  }

  .header_top__search {
    width: 100%;
    position: absolute;
  }
  .header_top__search button.close {
    right: -7px;
  }

  .header_menu .navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header_menu .navbar .nav-item {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .header_menu .navbar .nav-item .nav-link {
    font-size: 16px;
  }

  .header_actions {
    justify-content: end;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .header_actions .header__action_search .header__action-btn {
    display: inline-flex;
    outline: none;
    border: none;
    align-items: center;
    margin-right: 10px;
    position: relative;
    width: 22px;
    height: 36px;
    padding-inline: 10px;
  }
  .header_actions .header_profile {
    padding-inline: 0;
    border-right: 1px solid #ffffff1a;
    border-left: 1px solid #ffffff1a;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    padding-inline: 15px;
  }
  .header_actions .header_profile .header_p_link {
    display: inline-flex;
    text-decoration: none;
  }
  .header_actions .header_profile .header_p_link:hover {
    color: #f3a735;
  }
  .header_actions .header_profile .header_p_link span:nth-child(1) i {
    color: #000;
    font-size: 14px;
  }
  .header_actions .header_profile .header_p_link span:nth-child(2) {
    display: none;
  }
  .header_actions .walletBtn {
    padding-left: 0.5rem;
  }
  .header_actions .walletBtn .wallet_link {
    display: inline-flex;
    text-decoration: none;
  }
  .header_actions .walletBtn .wallet_link:hover {
    color: #f3a735;
  }
  .header_actions .walletBtn .wallet_link span:nth-child(1) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #f3a735;
    font-size: 1.7rem;
    margin-right: 16px;
  }
  .header_actions .walletBtn .wallet_link span:nth-child(2) {
    display: none;
  }
  .header_actions .responsive_toggle {
    display: block;
    cursor: pointer;
  }
  .header_actions .responsive_toggle span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  .header_actions .responsive_toggle span:nth-child(1) {
    top: 0;
  }
  .header_actions .responsive_toggle span:nth-child(2) {
    top: 9;
  }
  .header_actions .responsive_toggle span:nth-child(3) {
    bottom: 0;
  }
  .header_actions #toggle_btn.active span:nth-child(2) {
    width: 0;
  }
  .header_actions #toggle_btn.active span:nth-child(1) {
    transform: translatey(9px) rotate(-45deg);
    background: #5138ee;
  }
  .header_actions #toggle_btn.active span:nth-child(3) {
    transform: translatey(-9px) rotate(45deg);
    background: #5138ee;
  }
}
@media (min-width: 1200px) and (max-width: 1330px) {
  .header__logo {
    width: 10%;
  }

  .header_top__search {
    position: relative;
    background-color: transparent;
    top: auto;
    height: 70px;
    width: 20%;
  }

  .header_menu {
    flex-direction: row;
    align-items: center;
    width: auto;
    padding: 0;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    background-color: transparent;
    transform: translate3d(0, 0, 0);
    border: none;
    transition: transform 0s ease;
    margin-right: 2%;
  }
  .header_menu .navbar {
    flex-direction: row;
    align-items: center;
    width: auto;
  }
  .header_menu .navbar .nav-item {
    list-style: none;
    margin-left: 40px;
  }
  .header_menu .navbar .nav-item:nth-child(1) {
    margin-left: 0;
  }
  .header_menu .navbar .nav-item .nav-link {
    padding: 0;
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    position: relative;
  }
  .header_menu .navbar .nav-item .nav-link[data-bs-toggle=dropdown]::after {
    position: absolute;
    content: "\ea99";
    font-family: "icoFont";
    transform: translateY(-50%);
    top: 50%;
    right: -18px;
  }
}
@media (min-width: 1330px) {
  .header__logo {
    width: 10%;
  }

  .header_top__search {
    position: relative;
    background-color: transparent;
    top: auto;
    height: 70px;
    width: 30%;
  }
  .header_top__search button.close {
    right: 50px;
    display: none;
  }

  .header_top_search_active {
    position: relative;
    width: 30%;
  }

  .header_menu {
    flex-direction: row;
    align-items: center;
    width: auto;
    padding: 0;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    background-color: transparent;
    transform: translate3d(0, 0, 0);
    border: none;
    transition: transform 0s ease;
    margin-right: 2%;
  }
  .header_menu .navbar {
    flex-direction: row;
    align-items: center;
    width: auto;
  }
  .header_menu .navbar .nav-item {
    list-style: none;
    margin-left: 40px;
  }
  .header_menu .navbar .nav-item:nth-child(1) {
    margin-left: 0;
  }
  .header_menu .navbar .nav-item .nav-link {
    padding: 0;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    position: relative;
  }
  .header_menu .navbar .nav-item .nav-link[data-bs-toggle=dropdown]::after {
    position: absolute;
    content: "\ea99";
    font-family: "icoFont";
    transform: translateY(-50%);
    top: 50%;
    right: -18px;
  }
}
@font-face {
  font-family: Barlow;
  src: url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
}
.banner-section {
  background-color: #030010;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.banner-wrapper {
  padding-top: 152px;
  padding-bottom: 90px;
}

.banner-content h1 {
  font-size: 3.75rem;
  margin-bottom: 20px;
}
.banner-content h1 .theme-color {
  color: #f3a735;
}
.banner-content p {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 30px;
  max-width: 500px;
  font-family: "Barlow", sans-serif;
}
.banner-content .banner-btn {
  gap: 15px;
  color: #030010;
}
.banner-content .banner-btn .default-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  color: #000;
  padding: 0 1.7rem;
  line-height: 40px;
  border-radius: 99px;
  font-size: 1rem;
  transform-origin: right;
  transition: all 0.3s ease;
  background: #f3a735;
  font-weight: bold;
  overflow: hidden;
}
.banner-content .banner-btn .default-btn.move-top:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: transform 0.5s;
  transform-origin: top;
  transform: scaleY(0);
  z-index: 0;
}
.banner-content .banner-btn .default-btn.move-top:hover::before {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.nft-slider-wrapper .banner-item-slider-2 .nft-item {
  position: relative;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item:hover {
  transform: translateY(10px);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner {
  background-color: #000;
  border: 2px solid transparent;
  border-image: linear-gradient(125deg, #FFE53B 0%, #FF2525 37%, #fd00ff 100%);
  border-image-slice: 1;
  padding: 20px;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .author-wrapper {
  margin-bottom: 20px;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .author-wrapper .author-menu .am-li {
  list-style: none;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .author-wrapper .author-menu .am-li .varified_mark {
  display: block;
  position: relative;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .author-wrapper .author-menu .am-li .varified_mark::after {
  position: absolute;
  content: "\eed8";
  font-family: "icoFont";
  font-weight: 400;
  color: #fff;
  font-size: 12px;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #3d8fff;
  text-align: center;
  border: 1px solid #030010;
  line-height: 1.1;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .author-wrapper .author-menu .am-li .varified_mark img {
  border: 2px solid #030010;
  border-radius: 50%;
  max-width: 44px;
  object-fit: cover;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .author-wrapper .author-menu .am-li h6 {
  margin-left: 10px;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .author-wrapper .author-menu .am-li h6 a:hover {
  color: #f3a735;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .more_warpper .dropstart .dropdown-toggle[data-bs-toggle=dropdown]:before {
  display: none;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .more_warpper .dropstart a i {
  font-size: 18px;
  transition: all 0.3s ease;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .more_warpper .dropstart a.show i {
  transform: rotate(-90deg);
  color: #5138ee;
  display: inline-block;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .more_warpper .dropstart a:hover {
  color: #f3a735;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .more_warpper .dropstart .dropdown-menu {
  position: absolute;
  min-width: 8rem;
  background: #030010;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .more_warpper .dropstart .dropdown-menu li {
  border-bottom: 1px solid #ffffff66;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .more_warpper .dropstart .dropdown-menu li:last-child {
  border: none;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .more_warpper .dropstart .dropdown-menu li a {
  color: #fff;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-top .more_warpper .dropstart .dropdown-menu li a:hover {
  color: #5138ee;
  background-color: transparent;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-bottom .nft-item-thumb {
  margin-bottom: 20px;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-bottom .nft-item-content h4 {
  font-size: 1.5rem;
  transition: all 0.3s ease;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-bottom .nft-item-content h4:hover {
  color: #f3a735;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-bottom .nft-item-content .price-react .price {
  font-size: 1.125rem;
  font-family: "Barlow", sans-serif;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-bottom .nft-item-content .price-react .price span {
  color: #00edc5;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-bottom .nft-item-content .price-react .react {
  font-size: 1.25rem;
  font-family: "Barlow", sans-serif;
}
.nft-slider-wrapper .banner-item-slider-2 .nft-item .nft-inner .nft-item-bottom .nft-item-content .price-react .react:hover {
  color: #5138ee;
}

/*# sourceMappingURL=custom.css.map */
